#content {
    height: 425px;
    width: 700px;
    float: right;
    margin-right: 50px;
    margin-top: 50px;
}

#tab-content {
    height: 425px;
    width: 625px;
    background-color: rgb(255, 255, 255, 0.3);
    float: left;
    text-align: center;
}

.navBar {
    height: 425px;
    width: 75px;
    float: right;
    display: grid;
    background-color:rgb(0, 0, 0, 0.3);
}

.nav-btn {
    width: 75px;
    height: 140px;
    background-color: rgb(0, 0, 0, 0.3);
    border: none;
    color: grey;
}

h1 {
    margin-top: 25px;
    color: whitesmoke;
    font-size: x-large;
}

h2 {
    margin-top: 25px;
    color: whitesmoke;
    font-size: larger;
}

pre {
    margin-top: 75px;
    color: whitesmoke;
}

#menu-box {
    margin-top: 25px;
    display: grid;
    grid-template-columns: auto auto auto;
    color: whitesmoke;
}

.pics {
    width: 175px;
    height: 175px;
}

#contact-info {
    margin-top: 50px;
}

#contact-info p {
    color: whitesmoke;
    padding: 10px;
}